@{
    ViewData["Title"] = "Home";
    @model WhitelistViewModel
    @using SFA.DAS.SelfService.Web.Configuration
    @using SFA.DAS.SelfService.Core.Configuration

    var ipAddressInvalid = !ViewData.ModelState.IsValid
                            && ViewData.ModelState.ContainsKey("IpAddress") &&
                            ViewData.ModelState["IpAddress"].Errors != null &&
                            ViewData.ModelState["IpAddress"].Errors.Any();
    var environmentsInvalid = !ViewData.ModelState.IsValid
                            && ViewData.ModelState.ContainsKey("SelectedEnvironmentIds") &&
                            ViewData.ModelState["SelectedEnvironmentIds"].Errors != null &&
                            ViewData.ModelState["SelectedEnvironmentIds"].Errors.Any();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DAS Whitelist
        </h1>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    IP Whitelist for DAS SQL &amp; Cosmos Databases
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">This will whitelist your IP Address on your selected DAS Resources.</p>
                <p class="govuk-body">DEV refers to AT, TEST, TEST2 &amp; DEMO.</p>
            </div>
        </details>
        <form asp-route="@WhitelistRouteNames.CreateRelease" method="post">
            <div class="govuk-form-group @(environmentsInvalid ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    @if (environmentsInvalid)
                    {
                        var environmentsModelState = @ViewData.ModelState["SelectedEnvironmentIds"];

                        if (environmentsModelState.Errors != null && environmentsModelState.Errors.Any())
                        {
                            <span id="IpAddress" class="govuk-error-message">
                                @environmentsModelState.Errors.First().ErrorMessage
                            </span>
                        }
                    }
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            What do you need access to?
                        </h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="sqlservers" type="checkbox" name="SelectedEnvironmentIds" value="@WhitelistConstants.SQLServerEnvironmentId" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="sqlservers">
                                SQL Servers DEV &amp; PP
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="cosmos-dev" type="checkbox" name="SelectedEnvironmentIds" value="@WhitelistConstants.DevCosmosEnvironmentId">
                            <label class="govuk-label govuk-checkboxes__label" for="cosmos-dev">
                                Cosmos DB DEV
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="cosmos-pp" type="checkbox" name="SelectedEnvironmentIds" value="@WhitelistConstants.PPCosmosEnvironmentId">
                            <label class="govuk-label govuk-checkboxes__label" for="cosmos-pp">
                                Cosmos DB PP
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group @(ipAddressInvalid ? "govuk-form-group--error" : "")">
                <label asp-for="IpAddress" class="govuk-label">
                    IP Address
                </label>
                @if (ipAddressInvalid)
                {
                    var ipAddressModelState = @ViewData.ModelState["IpAddress"];

                    if (ipAddressModelState.Errors != null && ipAddressModelState.Errors.Any())
                    {
                        <span id="IpAddress" class="govuk-error-message">
                            @ipAddressModelState.Errors.First().ErrorMessage
                        </span>
                    }
                }
                <span id="account-number-hint" class="govuk-hint">
                    Your public IPv4 address.
                </span>
                <input asp-for="IpAddress" id="ipAddress" class="govuk-input govuk-input--width-20 @(ipAddressInvalid ? "govuk-input--error" : "")" />
            </div>
            <div class="govuk-form-group">
                <button class="govuk-button" data-module="govuk-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        fetch('https://ipv4.jsonip.com', { mode: 'cors' })
            .then((resp) => resp.json())
            .then((ip) => {
                document.getElementById("ipAddress").value = ip.ip;
            });
    };
</script>